nav.navbar 
    div.brand
        a.logo(href="/") Workers App 
    ul.menu 
        li.menu-item
            a.menu-link(href="/") All Workers 
        li.menu-item 
            a.menu-link(href='/Create')  Create a Worker