extends layout.pug 

block content 

    if worker 
        h3.page-title Update a Record
        form.form(action=`/update/${ worker.id }` method="POST")
            input.input(type="text" name="fullName" value= worker.fullName)
            input.input(type="text" name="department" value= worker.department)
            textarea.input(name="bio", cols="30", rows="10")= worker.bio
            button.update.btn Update
        

    else 
        h3.page-title Create a Record
        form.form(action="/create-new-record" method="POST")
            input.input(type="text" name="fullName" placeholder="Fullname")
            input.input(type="text" name="department" placeholder="Department")
            textarea.input(name="bio" cols="30" rows="10" placeholder="Bio")
            button.update.btn Create

    