extends layout.pug

block content  
    h1.heading All Workers 
    ul.list 
        li.list-item
            a.list-link(href="/")  First Element 
        li.list-item
            a.list-link(href="/")  Second Element 
        li.list-item
            a.list-link(href="/")  Third Element 