extends layout.pug

block content  
    h1.heading All Workers 
    if (workers.length)
        ul.workers 
            each worker in workers
                li.worker 
                    a(href="/" + worker.id)= worker.fullName 
                    .options 
                        a.edit(href="/edit/" + worker.id) edit
                        a.delete(href="/delete/" + worker.id) delete 
    else 
        p.message-box No data available