extends layout.pug 

block content 
    p.singleTitle Worker details for 
        span #{ worker != undefined ? worker.fullName : 'No data available...' }
    
    .worker 
        if worker 
            h3.workerHeading Worker Info
            div.workerInfo.workerName 
                span Name: 
                span #{ worker.fullName } 
            p.workerInfo.workerDepartment 
                span Department: 
                span #{ worker.department }  
            p.workerInfo.workerBio 
                span Bio: 
                span #{ worker.bio }