/* LAYOUT */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 1000px;
    margin: 0 auto;
}

.footer{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-top: 1px solid #909090;
    padding: 0.5rem;
}


/* NAVBAR */
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.75rem;
    margin-bottom: 1rem;
    /* background-color: rgba(0, 0, 0, 0.02); */
    box-shadow: 0 1px 1px #ccc;
}
.logo,.menu li a{
    text-decoration: none;
    text-transform: uppercase;
}
.logo{
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
}
.menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.menu-link {
    color: #292929;
}

/* INDEX */

.message-box{
    margin: 1rem auto;
    padding: 1rem 0.75rem;
    font-size: 1.2rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.display-none{
    display: none !important;
}
.created{
    background-color: orange;
    color: #fff;
}
.deleted{
    background-color: red;
    color: #fff;
}
.updated{
    background-color: green;
    color: #fff;
}
.heading {
    text-align: center;
}

.list{
    list-style: none;
    width: 70%;
    height: 28rem;
    overflow-x: hidden;
    margin: 1rem auto;
    padding: 0.75rem;
    border: 0.5px solid #ccc;
}

.list::-webkit-scrollbar{
    width: 10px;
}
.list::-webkit-scrollbar-track{
    background-color: #fff;
    border-radius: 5px;
}
.list::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #ccc;
    border-radius: 5px;

}
.list-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    border-bottom: 0.5px dotted #ccc;
}
.list-item:last-child{
    border: none;
}
.list-item > a{
    text-decoration: none;
    font-size: 1.25rem;
}
.options{
    display: flex;
    justify-content: space-between;
}
.options a{
    text-decoration: none;
    color: #909090;
    margin: 0 0.5rem;
}

/* CREATE-UPDATE RECORD */
.form-wrapper {
    width: 40%;
    margin: 2rem auto;
    outline: none;
    box-shadow: 0 3px 2px #ccc;
}
.form-wrapper > .page-title {
    font-size: 1.4rem;
    padding: 1rem 2rem;
    background-color: #eee;
    font-family: sans-serif;

}
.form{
    width: 100%;
    display: block;
    padding: 1rem 2rem;

}
.input-group{
    margin-bottom: 1rem;
}
.input {
    width: 100%;
    padding: 0.5rem 0.25rem;
    outline: none;
    border: 0.5px solid #ccc;
}

.errorMsg{
    color: red;
}

.btn{
    width: 100%;
    font-size: 1.2rem;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: none;
    cursor: pointer;
}
.create{
    background-color: orange;
    color: #fff
}
.update{
    background-color: green;
    color: #fff
}

/* SINGLE WORKER */
.singleTitle {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 18px;
}
.singleTitle span {
    font-weight: 600;
    color: red;
}
.worker{
    width: 30%;
    margin: 2rem auto;
    border: 0.5px solid #ccc;
}
.workerHeading{
    text-align: center;
    background-color: #ddd;
    padding: 1rem 0.5rem;
}
.workerInfo{
    font-size: 20px;
    width: 100%;
    padding: 0.5rem 0.5rem;
}
.workerInfo span:first-child{
    font-weight: bold;
}