/* LAYOUT */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 1000px;
    margin: 0 auto;
}

.footer{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-top: 1px solid #909090;
    padding: 0.5rem;
}


/* NAVBAR */
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.75rem;
    margin-bottom: 1rem;
    box-shadow: 0 3px 1px #ccc;
}
.logo,.menu li a{
    text-decoration: none;
    text-transform: uppercase;
}
.logo{
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
}
.menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.menu-link {
    color: #292929;
}

/* INDEX */

.heading {
    text-align: center;
}
.message-box,
.list{
    list-style: none;
    width: 70%;
    height: 30rem;
    overflow-x: hidden;
    margin: 1rem auto;
    padding: 0.75rem;
    border: 0.5px solid #ccc;
}
.message-box{
    text-align: center;
    font-size: 1.2rem;
}
.list::-webkit-scrollbar{
    width: 10px;
}
.list::-webkit-scrollbar-track{
    background-color: #fff;
    border-radius: 5px;
}
.list::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #ccc;
    border-radius: 5px;

}
.list-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 0.5rem;
}
.list-item > a{
    text-decoration: none;
    font-size: 1.25rem;
}
.options{
    width: 12%;
    display: flex;
    justify-content: space-between;
}
.options a{
    text-decoration: none;
    color: #909090;
}